<%- include('../partials/head') %>

<body>
  <div class="container">
    
    <%- include('../partials/header') %>

    <h1><%= title %></h1>
    <p>On this page you can test your newly created quiz</p>

    <ul>
      <!--
        questions [
          [
            {
              ...
            }
          ]
        ]
      -->

      <% for(let i = 0; i < quiz.length; i++){ %>
     
          <p>Quiz Title:<%= quiz[i].title %></p>          
          <p>Quiz Description: <%= quiz[i].description %></p>          
          <p>Quiz Max Score: <%= quiz[i].maxScore %></p>
          <% for(let j = 0; j < quiz[i].questions[0].length; j++){ %>
            
            <p>Question title:<%= quiz[i].questions[0][j].title %></p>
            <p>Question description:<%= quiz[i].questions[0][j].description %></p>
            <% for(let k = 0; k < quiz[i].questions[0][j].answers[0].length; k++){ %>   
              <p>Answer: <%= quiz[i].questions[0][j].answers[0][k].answer %></p>
              <p>Correct: <%= quiz[i].questions[0][j].answers[0][k].correct %></p>
              <p>Points: <%= quiz[i].questions[0][j].answers[0][k].points %></p>
                
            <% } %>         
                   
          <% } %>   
          
      <% } %>
             

    </ul>
  </div>

</body>

<footer>
  <%- include('../partials/footer') %>
</footer>

</html>


  