<%- include('../partials/head') %>

<body>
  <div class="container">
    
    <%- include('../partials/header') %>

    <h1><%= title %></h1>
    <p>On this page you can test your newly created quiz</p>

    <ul>

    <% quiz.forEach(element =>{ %>
      <li>

        
        <p><%= element.answer %></p>
        <p><%= element.points %></p>
        <p><%= element.correct %></p>
        
        

      </li> 
    <% }) %>

    </ul>
  </div>

</body>

<footer>
  <%- include('../partials/footer') %>
</footer>

</html>


  